.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  mat-tab-group {
    width: 100%;
  }

  table {
    width: 100%;

  }

  .card {
    margin: 20px;
    width: 29%;

    mat-expansion-panel-header {
      font-weight: 700;
    }
  }

  .player {
    line-height: 30px;
    .score {
      float: right;
    }
  }

  .round-score {
    font-weight: 700;
    margin-top: 10px;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .container {
    .card {
      width: 90%;

      .player {
        font-size: 12px;
      }
    }

    table td {
      font-size: 12px;
    }
  }
}

::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 0;
}

::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer{
  transform: rotate(-45deg);
}
::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer{
  transform: rotate(45deg);
}
