.container {
  button {
    margin: 20px;
  }

  mat-select {
    margin: 5px;
  }

  .card {
    margin: 20px;
    width: 21%;

    &.hidden {
      display: none;
    }
  }

  span {
    display: inline-block;
    font-size: 12px;
    line-height: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
  }

  .team-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    mat-form-field {
      width: 30px;
    }

    .input-wrapper {
      display: inline-block;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .round-picker {
      width: 150px;
    }

    .card {
      width: 90%;

      .player {
        width: 55%;
      }
    }
  }
}
