.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .card {
    margin: 20px;
    width: 21%;
  }

  span {
    width: 80%;
    display: inline-block;
  }

  form {
    width: 30px;
    display: inline-block;

    mat-form-field {
      width: 30px;
    }
  }
}
