.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

::ng-deep .mat-tab-body .mat-tab-body-content {
  overflow: hidden;
}

.buttons {
  margin: 10px;
}

.filter-wrapper {
  margin: 10px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 0.4rem;
}

.card {
  height: 60px;
  margin: 5px;
  width: 24%;

  &.minimal {
    height: 30px;

    .card-title {
      font-size: 14px;
    }

    .ksm {
      float: right;
    }
  }


  &.placeholder {
    border-style: dashed;

    .card-text {
      line-height: 60px;
      opacity: 0.5;
      text-align: center;
      vertical-align: middle;
    }
  }

  .card-body {
    padding: 5px 10px;
  }

  img {
    height: 40px;
    top: 10px;
    position: absolute;
    right: 110px;
  }

  button {
    top: 10px;
    position: absolute;
  }

  .delete-button {
    right: 10px;
  }

  .edit-button {
    right: 60px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;

    .card-title,
    .card-text {
      font-size: 12px !important;
    }
  }

  .filter-wrapper {
    font-size: 12px;
    flex-direction: column;

    .mat-checkbox {
      margin-top: 0;
      text-align: center;
    }
  }

  img {
    display: none;
  }
}
