<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Panel zarządzania</h1>
  </div>

  <mat-tab-group (selectedTabChange)="onSelect($event)">
    <mat-tab label="Zawodnicy">

      <app-loader [isLoading]="isLoading$ | async" [message]="loadingMessage"></app-loader>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="addPlayer()">Dodaj zawodnika</button>
        <button mat-raised-button color="warn" (click)="saveChanges()">Zapisz zmiany</button>
      </div>

      <div class="filter-wrapper">
        <mat-form-field>
          <mat-select multiple placeholder="Filtruj drużyny" [(ngModel)]="filter.team">
            <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select multiple placeholder="Filtruj typ zawodnika" [(ngModel)]="filter.type">
            <mat-option *ngFor="let type of typeFilters" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="filter.searchQuery" placeholder="Szukaj zawodnika" />
        </mat-form-field>

        <div class="copy-ksm">
          Skopiuj ksmy z kolejki
          <mat-form-field class="round">
            <input matInput type="number" step="1" min="1" max="14" [(ngModel)]="copyKsm.from" />
          </mat-form-field>

          do kolejki
          <mat-form-field class="round">
            <input matInput type="number" step="1" min="1" max="14" [(ngModel)]="copyKsm.to" />
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="copyRoundKsm()">Skopiuj KSM</button>
        </div>

      </div>

      <div class="players">
        <div *ngFor="let player of tempPlayers$ | async | filter: filter" class="card">
          <div class="card-body">
            <h5 class="card-title">{{player.name}}</h5>
            <p class="card-text">{{player.type}}</p>
            <img src="../../../../assets/logos/{{ player.team }}.jpg" />
            <button class="edit-button" mat-mini-fab color="primary" (click)="editPlayer(player)">Edytuj</button>
            <button class="delete-button" mat-mini-fab color="warn" (click)="removePlayer(player)">Usuń</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Kolejka">

      <div class="container">
        <div class="buttons">
          <button mat-raised-button color="warn" (click)="saveOptions()">Zapisz opcje</button>
        </div>

        <div class="round">
          <mat-form-field>
            <mat-label>Aktualna kolejka</mat-label>
            <mat-select name="round" [ngModel]="(tempOptions$ | async)?.currentRound" (ngModelChange)="changeCurrentRound($event)">
              <mat-option *ngFor="let round of roundsIterable" [value]="round">{{round}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="game1">
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[0].home" (ngModelChange)="changeGame($event, 0, 'home')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span>vs</span>
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[0].away" (ngModelChange)="changeGame($event, 0, 'away')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="game2">
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[1].home" (ngModelChange)="changeGame($event, 1, 'home')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span>vs</span>
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[1].away" (ngModelChange)="changeGame($event, 1, 'away')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="game3">
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[2].home" (ngModelChange)="changeGame($event, 2, 'home')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span>vs</span>
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[2].away" (ngModelChange)="changeGame($event, 2, 'away')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="game4">
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[3].home" (ngModelChange)="changeGame($event, 3, 'home')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span>vs</span>
          <mat-form-field>
            <mat-label>Klub</mat-label>
            <mat-select required [ngModel]="(tempOptions$ | async)?.games[3].away" (ngModelChange)="changeGame($event, 3, 'away')" name="team">
              <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <span class="title">Zamknięcie kolejki:</span>
        <input [owlDateTime]="dt" [(ngModel)]="date" [owlDateTimeTrigger]="dt" />
        <owl-date-time #dt></owl-date-time> 
      </div>

    </mat-tab>
  </mat-tab-group>
</div>