<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Historia</h1>
  </div>

  <div>
    <div class="container options">
      <mat-form-field>

        <mat-select [(ngModel)]="currentSeason" (ngModelChange)="onSeasonChange()">
          <mat-option *ngFor="let number of seasonIterable" [value]="number">Sezon {{number}}</mat-option>
        </mat-select>

      </mat-form-field>

      <mat-tab-group (selectedTabChange)="onSelect($event)">
        <mat-tab label="Składy">

          <div>
            <mat-form-field>

              <mat-select [(ngModel)]="currentRound" (ngModelChange)="onRoundChange()">
                <mat-option *ngFor="let number of roundsIterable" [value]="number">Kolejka {{number}}</mat-option>
              </mat-select>

            </mat-form-field>

          </div>

          <div>
            <app-loader [isLoading]="isLoading" [message]="loadingMessage"></app-loader>
            <app-round-score [squads]="squads"></app-round-score>
          </div>

        </mat-tab>

        <mat-tab label="Tabela">
          <app-loader [isLoading]="isLoading" [message]="loadingMessage"></app-loader>
          <app-table-score [dataSource]="dataSource"></app-table-score>
        </mat-tab>

      </mat-tab-group>

    </div>
  
  </div>

</div>