<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Historia</h1>
  </div>

  <div>
    <div class="container options">
      <mat-form-field>

        <mat-select [value]="chosenSeason$ | async" (selectionChange)="changeSeason($event)">
          <mat-option *ngFor="let number of seasonIterable" [value]="number">{{number}}</mat-option>
        </mat-select>

      </mat-form-field>

      <mat-tab-group (selectedTabChange)="onSelect($event)">
        <mat-tab label="Składy">

          <div>
            <mat-form-field>

              <mat-select [value]="chosenRound$ | async" (selectionChange)="changeRound($event)">
                <mat-option *ngFor="let number of roundsIterable" [value]="number">Kolejka {{number}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <app-loader [isLoading]="isLoading$ | async" [message]="loadingMessage"></app-loader>
            <app-round-score [ngClass]="{ 'hidden': isLoading$ | async }" [squads]="squads$ | async"></app-round-score>
          </div>

        </mat-tab>

        <mat-tab label="Tabela">
          <app-loader [isLoading]="isLoading$ | async" [message]="loadingMessage"></app-loader>
          <app-table-score [dataSource]="dataSource$ | async"></app-table-score>
        </mat-tab>

      </mat-tab-group>

    </div>
  
  </div>

</div>