<div class="login-container container-fluid bg-light">
  <div class="login-box">
    <h1>Speedway app</h1>

    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>

          <button type="submit" class="btn btn-primary w-100" (click)="signInWithFacebook()">
            <i class="fas fa-cog fa-spin" *ngIf="isLoading"></i>
            Login with Facebook
          </button>
        </div>

        <p class="error-msg" *ngIf="error">{{error}}</p>
      </div>
    </div>
  </div>
</div>
