<div class="login-container container-fluid bg-light">
  <div class="login-box">
    <h1>Speedway app</h1>

    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">

          <form [formGroup]="signInForm">
            <mat-form-field>
              <mat-label>Login</mat-label>
              <input matInput type="text" formControlName="login" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
          </form>

          <button type="submit" class="btn btn-primary w-100" (click)="signInWithLoginAndPassword()">
            <i class="fas fa-cog fa-spin" *ngIf="isSignInLoading"></i>
            Zaloguj się
          </button>
        </div>

        <p class="error-msg" *ngIf="signInError">{{signInError}}</p>
      </div>
    </div>
  </div>
</div>