<app-loader [isLoading]="!(availablePlayers$ | async)?.length" [message]="loadingMessage"></app-loader>
<div class="container row player-list" *ngIf="(availablePlayers$ | async)?.length">

  <div class="filter-wrapper">
    <mat-form-field>
      <mat-select multiple placeholder="Filtruj drużyny" [(ngModel)]="filter.team">
        <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select multiple placeholder="Filtruj typ zawodnika" [(ngModel)]="filter.type">
        <mat-option *ngFor="let type of typeFilters" [value]="type">{{type}}</mat-option>
        <mat-option value="U24">U24</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Sortuj według" [(ngModel)]="filter.sort">
        <mat-option [value]="'team'">Klubu</mat-option>
        <mat-option [value]="'ksm'">KSMu</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="filter.showMinimum" title="Schowaj grafiki i typ zawodników">
      Tryb minimalistyczny
    </mat-checkbox>

    <div class="ksm-counter" [ngClass]="{ 'is-wrong': (store.ksmSum$ | async) > maxKsm }">
      <span>{{ store.ksmSum$ | async}}</span>
      <p>Pozostały KSM: {{ store.ksmLeft$ | async}}</p>
    </div>

  </div>

  <div class="search">
    <mat-form-field>
      <input matInput [(ngModel)]="filter.searchQuery" placeholder="Szukaj zawodnika" />
    </mat-form-field>
  </div>


  <div class="button-row">
    <mat-checkbox [(ngModel)]="filter.showPossiblePlayers"
      title="Pokaż tylko zawodników, ktorzy pasują typem do składu i nie przekroczą wymagany KSM">
      Pokaż dostępnych zawodników
    </mat-checkbox>
    <button mat-raised-button color="primary" (click)="clearFilters()">Wyczyść filtry</button>
    <button mat-raised-button color="primary" (click)="clearSquad()">Wyczyść skład</button>
    <button mat-raised-button color="primary" (click)="exportSquad()">Eksportuj skład</button>
    <button mat-raised-button color="primary" (click)="sendSquad()" *ngIf="!(isUserSquadSent$ | async)" [disabled]="disableSendSquadButton()">Wyślij skład</button>
  </div>

  <div class="available-players col-xs-6">

    <div *ngFor="let player of availablePlayers$ | async | filter: filter" class="card" [ngClass]="{ 'minimal': filter.showMinimum }">
      <div class="card-body" (click)="selectPlayer(player)">
        <h5 class="card-title">{{player.name}}
          <span class="ksm">KSM: <b>{{player.ksm[(currentRound$ | async) - 1]}}</b></span>
        </h5>
        <p class="card-text" *ngIf="!filter.showMinimum">{{player.type}}</p>
        <img *ngIf="!filter.showMinimum" src="../../../../assets/logos/{{ player.team }}.jpg" />
      </div>
    </div>
  </div>
  <div class="selected-players col-xs-6">
    <div class="selected-player" *ngFor="let player of selectedPlayers$ | async; let i = index">
      <span class="player-counter">{{i + 1 }}.</span>
      <div class="card" [ngClass]="{ 'placeholder': player.placeholder }">

        <div *ngIf="player.placeholder">
          <p class="card-text">{{player.type}}</p>
        </div>

        <div class="card-body" *ngIf="!player.placeholder" (click)="unselectPlayer(player, i)">
          <h5 class="card-title">{{player.name}} KSM:
            <b>{{player.ksm[(currentRound$ | async) - 1]}}</b>
          </h5>
          <p class="card-text">{{player.type}}</p>
          <img src="../../../../assets/logos/{{ player.team }}.jpg" />
        </div>
      </div>
    </div>
  </div>

</div>
<div class="mobile-selected-players">
  <div class="mobile-selected-player" *ngFor="let player of selectedPlayers$ | async; let i = index">
    <div class="card" [ngClass]="{ 'placeholder': player.placeholder }">

      <div *ngIf="player.placeholder">
        <p class="card-text">{{player.type}}</p>
      </div>

      <div class="card-body" *ngIf="!player.placeholder" (click)="unselectPlayer(player, i)">
        <h5 class="card-title">{{player.name}}
          <span>KSM:
            <b>{{player.ksm[(currentRound$ | async) - 1]}}</b>
          </span>
        </h5>
      </div>
    </div>
  </div>

  <div class="ksm-counter" [ngClass]="{ 'is-wrong': (store.ksmSum$ | async) > maxKsm }">
    <span>{{ store.ksmSum$ | async}}</span>
  </div>

</div>