.available-players,
.selected-players {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.selected-player {
  display: flex;

  .player-counter {
    line-height: 80px;
    vertical-align: middle;
  }
}

.card {
  height: 80px;
  margin: 5px;
  width: 90%;

  .card-title {
    font-size: 16px;
    margin-bottom: 0.4rem;
  }

  &.placeholder {
    border-style: dashed;

    .card-text {
      line-height: 80px;
      opacity: .5;
      text-align: center;
      vertical-align: middle;
    }
  }

  .card-body {
    cursor: pointer;
  }

  img {
    height: 60px;
    top: 10px;
    position: absolute;
    right: 10px;
  }
}

.filter-wrapper, .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-wrapper {
  mat-form-field {
    margin: 10px;
  }
}

.search {
  width: 55%;

  mat-form-field {
    width: 100%;
    margin-left: 10px;
  }
}

.button-row {
  margin-left: 70px;

  button {
    margin: 5px;
  }
}

.ksm-counter {
  background-color: green;
  border-radius: 35px;
  font-size: 26px;
  height: 70px;
  margin-left: 60px;
  position: relative;
  width: 70px;

  span {
    position: relative;
    color: #fff;
    top: 15px;
    width: 70px;
    display: block;
    text-align: center;
  }

  p {
    font-size: 22px;
    font-weight: 700;
    left: 80px;
    position: absolute;
    top: 15px;
    width: 300px;
  }

  &.is-wrong {
    background-color: red;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;

    .card-title, .card-text {
      font-size: 12px !important;
    }
  }

  .filter-wrapper {
    font-size: 12px;
    flex-direction: column;
  }

  .button-row {
    text-align: center;
    font-size: 12px;
    margin: 0 0 10px 0;
  }

  .search {
    font-size: 12px;
    width: 90%;
  }

  .player-list {
    margin: 0;
  }

  .available-players {
    width: 100%;
  }

  .mobile-selected-players {
    display: flex;
    flex-flow: wrap;
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    height: 180px;
    width: 100%;

    .mobile-selected-player {
      width: 23%;
      margin: 3px;

      .card {
        margin: 0;
        .card-title, .card-text {
          font-size: 10px !important;

          span {
            display: block;
            margin-top: 5px;
          }
        }
      }

      .card-body {
        padding: 10px;
      }
    }

    .ksm-counter {
      margin: 5px 0 0 5px;
    }
  }

  .selected-players, img {
    display: none;
  }

  .filter-wrapper .ksm-counter {
    display: none;
  }
 }

 @media (min-width: 769px) {
   .mobile-selected-players {
     display: none;
   }
 }
