<div class="container row player-list">

  <div class="filter-wrapper">
    <mat-form-field>
      <mat-select multiple placeholder="Filtruj drużyny" [(ngModel)]="filter.team">
        <mat-option *ngFor="let team of teamFilters" [value]="team">{{team}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select multiple placeholder="Filtruj typ zawodnika" [(ngModel)]="filter.type">
        <mat-option *ngFor="let type of typeFilters" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Sortuj według" [(ngModel)]="filter.sort">
        <mat-option [value]="'team'">Klubu</mat-option>
        <mat-option [value]="'ksm'">KSMu</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="ksm-counter" [ngClass]="{ 'is-wrong': (dataService.getKsmSum() | async) > 45 }">
      <span>{{ dataService.getKsmSum() | async}}</span>
      <p>Pozostały KSM: {{ dataService.getKsmLeft() | async}}</p>
    </div>
  </div>

  <div class="search">
    <mat-form-field>
      <input matInput [(ngModel)]="filter.searchQuery" placeholder="Szukaj zawodnika">
    </mat-form-field>
  </div>

  <div class="button-row">

    <mat-checkbox [(ngModel)]="filter.showPossiblePlayers">
      Pokaż dostępnych zawodników
    </mat-checkbox>

    <button mat-raised-button color="primary" (click)="clearFilters()">Wyczyść filtry</button>
    <button mat-raised-button color="primary" (click)="clearSquad()">Wyczyść skład</button>
    <button mat-raised-button color="primary" (click)="exportSquad()">Eksportuj skład</button>
  </div>

  <div class="available-players col-xs-6">
    <app-loader [isLoading]="isLoading" [message]="loadingMessage"></app-loader>

    <div *ngFor="let player of availablePlayers | filter: filter" class="card">
      <div class="card-body" (click)="selectPlayer(player)">
        <h5 class="card-title">{{player.name}} KSM:
          <b>{{player.ksm}}</b>
        </h5>
        <p class="card-text">{{player.type}}</p>
        <img src="../../../../assets/logos/{{ player.team }}.jpg" />
      </div>
    </div>
  </div>
  <div class="selected-players col-xs-6">
    <div class="selected-player" *ngFor="let player of selectedPlayers; let i = index">
      <span class="player-counter">{{i + 1 }}.</span>
      <div class="card" [ngClass]="{ 'placeholder': player.placeholder }">

        <div *ngIf="player.placeholder">
          <p class="card-text">{{player.type}}</p>
        </div>

        <div class="card-body" *ngIf="!player.placeholder" (click)="unselectPlayer(player, i)">
          <h5 class="card-title">{{player.name}} KSM:
            <b>{{player.ksm}}</b>
          </h5>
          <p class="card-text">{{player.type}}</p>
          <img src="../../../../assets/logos/{{ player.team }}.jpg" />
        </div>
      </div>
    </div>
  </div>

</div>
<div class="mobile-selected-players">
  <div class="mobile-selected-player" *ngFor="let player of selectedPlayers; let i = index">
    <div class="card" [ngClass]="{ 'placeholder': player.placeholder }">

      <div *ngIf="player.placeholder">
        <p class="card-text">{{player.type}}</p>
      </div>

      <div class="card-body" *ngIf="!player.placeholder" (click)="unselectPlayer(player, i)">
        <h5 class="card-title">{{player.name}}
          <span>KSM:
            <b>{{player.ksm}}</b>
          </span>
        </h5>
      </div>
    </div>
  </div>

  <div class="ksm-counter" [ngClass]="{ 'is-wrong': (dataService.getKsmSum() | async) > 45 }">
    <span>{{ dataService.getKsmSum() | async}}</span>
  </div>

</div>
