.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}

@media (max-width: 768px) {
  .jumbotron {
    margin-bottom: 5px;
    h1 {
      font-size: 1rem;
    }
  }

  .container-fluid, .container {
    height: 100%;
  }
}
